body{
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
p,
a{
	padding: 0;
	margin: 0;
}

header{
	padding-bottom: 60px;
	background-color: #f3f7f9;
	background-image: url("../img/bg-header.jpg");
}

.main-header{
	margin-bottom: 60px;
}

.inner-header{
	margin-bottom: 23px;
}

.visuallly-hidden{
	display: none;
}

.modal-show{
	display: block;
}

.container{
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.header-top{
	padding: 0;
	margin-bottom: 46px;
	/*min-height: 42px;*/
	height: 42px;
	background-color: #293449;
	/*line-height: 42px;*/
}

.header-top .container{
	display: flex;
}

.header-top a{
	display: block;
	height: 31px;
	text-decoration: none;
	color: #ffffff;
	font-family: "Cuprum";
	font-size: 17px;
	line-height: 18px;
	padding-top: 11px;
}

.logo a:hover{
	background-color: #ca2c37;
}

.logo a:active{
	background-color: #ba2732;
}

.logo{
	position: relative;
	background-color: #ee3643;
}

.logo:after{
	position: absolute;
	left: 0;
	bottom: -4px;
	content: "";
	height: 5px;
	width: 220px;
	background-color: #b52933;
}

.logo-header{
	display: inline-block;
	width: 220px;
}

.logo-header a{
	display: block;
	/*padding-left: 55px;*/
	font-family: "Cuprum";
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}

.form-search{
	display: flex;
	position: relative;
	width: 270px;
	/*padding-left: 50px;*/
}

/*.form-search:after{*/
	/*
.form-search input[type="text"]:after{
	position: absolute;
	content: "new";
	width: 17px;
	height: 17px;
	top: 12px;
	left: 17px;
	background-image: url("../img/icon-search.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
	border: 1px solid red;
}

.form-search:hover:after{
	opacity: 1;
}*/

.form-search span{
	width: 50px;
	background-image: url("../img/icon-search.svg");
	background-repeat: no-repeat;
	background-position: 17px 12px;
	opacity: 0.3;
}


.form-search input[type="text"]{
	position: relative;
	display: block;
	height: 42px;
	border: none;
	box-sizing: border-box;
	/*width: 100%;*/
	width: 218px;
	/*padding-left: 49px;*/
	background-color: #293449;
	font-family: "Cuprum";
	color: #ffffff;
	font-size: 17px;
	line-height: 21px;
}

/*.form-search input[type="text"]:before{
	position: absolute;
	top: 100px;
	left: 120px;
	content: "Q";
	color: red;
}*/

.form-search:hover{
	background-color: #212a3a;
}

.form-search input[type="text"]:hover{
	background-color: #212a3a;
}


.form-search input[type="text"]:focus{
	background-color: #ffffff;
	color: #000000;
}

.form-search input::-webkit-input-placeholder {
	/*padding-left: 49px;*/
	font-family: "Cuprum";
	color: #ffffff;
	font-size: 17px;
	line-height: 21px;
}

.bookmarks{
	display: inline-block;	
	width: 150px;
}

.bookmarks a{
	display: block;
	position: relative;
	padding-left: 44px;
}

.bookmarks a:before{
	position: absolute;
	top: 12px;
	left: 17px;
	content: "";
	width: 14px;
	height: 16px;
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
}

.bookmarks a:hover{
	background-color: #212a3a;
}

.bookmarks a:hover:before{
	opacity: 1;
}

.bookmarks a:active{
	background-color: #161d29;
}

.bookmarks a:active:before{
	opacity: 0.5;
}

.basket{
	display: inline-block;
	width: 150px;
}

.basket-active a{
	background-color: #ee3643;
}

.basket a{
	display: block;
	position: relative;
	padding-left: 50px;
}



.basket a:before{
	position: absolute;
	top: 13px;
	left: 18px;
	content: "";
	width: 15px;
	height: 15px;
	background-image: url("../img/icon-basket.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
}

.basket a:hover{
	background-color: #212a3a;
}

.basket a:hover:before{
	opacity: 1;
}

.basket a:active{
	background-color: #161d29;
}

.basket a:active:before{
	opacity: 0.5;
}

.order{
	display: inline-block;
	width: 150px;
	background-color: #63a63e;
}

.order a{
	display: block;
	padding-left: 20px;
}

.order a:hover{
	background-color: #5fbb2d;
}

.order a:active{
	background-color: #518534;
}


.header-middle{
	display: flex;
	justify-content: space-between;
	margin-bottom: 34px;
}

.header-middle-block{
	width: 300px;
	/*min-height: 45px;*/

	/*border: 1px solid red;*/
}

.middle-content{
	width: 196px;
	padding-top: 3px;
	padding-left: 53px;
	padding-right: 51px;
	font-family: "Cuprum";
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

.contact{
	font-family: "Cuprum";
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.contact p{
	padding: 0;
	margin: 0;
	margin-left: 10px;
}


.header-phone{
	position: relative;
	width: 152px;	
	margin-bottom: 8px;
	padding-left: 70px;
	padding-top: 9px;
	padding-bottom: 5px;
	padding-right: 42px;
	border: 3px solid #ffffff;
	font-family: "Cuprum";
	font-size: 21px;
	line-height: 25px;
	color: #ee3643;
	font-weight: bold;
}

.header-phone:before{
	position: absolute;
	top: 10px;
	left: 13px;
	width: 19px;
	height: 19px;
	content: "";
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
}

.user-block{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	height: 45px;
}

/*
.user-block-wrapper{
	display: flex;
	flex-direction: column;
	height: 45px;
}
*/

.user-active-block{
	display: flex;
	justify-content: space-between;
	/*margin-left: 10px;*/
	height: 45px;
	width: 300px;
	background-color: #ffffff;
}

.user-block a{
	display: block;
	/*margin-left: 10px;*/
	height: 35px;
	font-family: "Cuprum";
	font-size: 21px;
	line-height: 25px;
	padding-top: 10px;
	/*padding-bottom: 10px;*/
	color: #000000;
	/*background-color: #ffffff;*/
	text-decoration: none;

	/*border: 1px solid red;*/
}

.user-block-login{
	height: 45px;
	width: 121px;
	background-color: #ffffff;
}

.user-block-registration{
	margin-left: 10px;
	height: 45px;
	width: 150px;
	background-color: #ffffff;
}

.user-login{
	position: relative;
	padding-left: 48px;
	padding-right: 27px;
}

.user-login:before{
	position: absolute;
	top: 14px;
	left: 14px;
	width: 20px;
	height: 17px;
	content: "";
	background-image: url("../img/icon-login.svg");
	background-repeat: no-repeat;
}

.user-login:hover{
	color: #ee3643;
}

.user-login:hover:before{
	background-image: url("../img/icon-login-act.svg");
}

.user-login:active{
	color: #000000;
	opacity: 0.3;
}

.user-registration{
	padding-left: 25px;
	padding-right: 25px;
}

.user-registration:hover{
	color: #ee3643;
}

.user-registration:active{
	color: #000000;
	opacity: 0.3;
}


.user-active{
	position: relative;
	/*width: 300px;*/
	padding-left: 47px;
}

/*.user-active:hover{
	color: #ee3643;
}*/

.user-active{
	width: 193px;
	/*border: 1px solid red;*/
}

.user-exit{
	position: relative;
	width: 60px;
	/*border: 1px solid red;*/
}

.user-exit span{
	font-size: 0;
}

.user-active:active{
	color: #000000;
	opacity: 0.3;
}

.user-active:before{
	position: absolute;
	content: "";
	width: 20px;
	height: 18px;
	top: 13px;
	left: 13px;
	background-image: url("../img/icon-user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

/*.user-active:after{*/
.user-exit:after{
	position: absolute;
	content: "";
	width: 20px;
	height: 18px;
	top: 50%;
	margin-top: -9px;
	left: 50%;
	margin-left: -10px;
	background-image: url("../img/icon-logout.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	/*border: 1px solid red;*/
}

.user-active:hover:before{
	background-image: url("../img/icon-user-act.svg");
}

.user-exit:hover:after{
	background-image: url("../img/icon-logout-act.svg");
}


.user-active:active:before,
.user-active:active:after{
	opacity: 0.3;
}

.user-active-menu{
	display: flex;
	justify-content: flex-start;
	padding-left: 20px;
}

.user-menu{
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: "Cuprum";
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
}

.user-menu a{
	font-family: "Cuprum";
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;
}

.user-menu a:hover{
	color: #ee3643;
}

.user-menu a:active{
	color: #32425c;
	opacity: 0.3;
}

.user-order{
	padding-left: 20px;
}

.personal-account{
	position: relative;
	margin-left: 32px;
}

.personal-account:before{
	content: "";
	position: absolute;
	top: 8px;
	left: -17px;
	width: 4px;
	height: 4px;
	background-color: #32425c;
	border-radius: 50%;
}

.main-menu{
	padding: 0 20px 0 20px;
	box-sizing: border-box;
	/*min-height: 55px;*/
	background-color: #32425c;
	border-bottom: 5px solid #293449;
}

.menu-list{
	display: flex;
	padding: 0;
	width: 100%;
	list-style: none;
}

.menu-item{
	display: inline-block;
	flex-grow: 1;
	padding: 0;
}

.main-menu a{
	display: block;
	padding-top: 20px;
	height: 100%;
	font-family: "Cuprum";
	font-size: 17px;
	/*line-height: 55px;*/
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	/*border-bottom: 5px solid #293449;*/
}

.main-menu a:hover{
	background-color: #293449;
}

.main-menu a:active{
	background-color: #1d2739;
	border-bottom-color: #1d2739;
}

.section-feature{
	margin-bottom: 53px;
}

.features-goods{
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.features-block{
	position: relative;
	width: 300px;
	min-height: 123px;
}

.features-block h3{
	margin-top: 21px;
	margin-left: 23px;
	margin-bottom: 12px;
	font-family: "Cuprum";
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
}

.features-btn{
	display: block;
	width: 135px;
	height: 26px;
	margin-left: 25px;
	padding-top: 11px;
	font-family: "Cuprum";
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.1);
}

.features-btn:hover{
	background-color: rgba(0, 0, 0, 0.2);
}

.features-btn:active{
	background-color: rgba(0, 0, 0, 0.3);	
}

.materials{
	background-color: #ffbf47;
	background-image: url("../img/icon-materials.svg");
	background-repeat: no-repeat;
	background-position: 213px 31px;
}

.instruments{
	background-color: #3bbce3;
	background-image: url("../img/icon-instruments.svg");
	background-repeat: no-repeat;
	background-position: 197px 33px;
}

.equipment{
	background-color: #dc91d9;
	background-image: url("../img/icon-equipment.svg");
	background-repeat: no-repeat;
	background-position: 191px 31px;
}

.discount{
	background-color: #8ed78f;
	background-image: url("../img/icon-discount.svg");
	background-repeat: no-repeat;
	background-position: 196px 26px;
}

.delivery{
	background-color: #ffc047;
	background-image: url("../img/icon-delivery.svg");
	background-repeat: no-repeat;
	background-position: 191px 32px;
}

.wrapper{
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.slider-container{
	position: relative;
	display: block;
	width: 620px;
	min-height: 246px;
	/*padding-left: 24px;
	padding-top: 20px;*/
	/*background-image: url("../img/slider-puncher.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0 0;*/
	color: #ffffff;
	overflow: hidden;
}

.slider{
	width: 1240px;
	/*transform: translateX(-620px);*/
}

.slider-item{
	float: left;
	display: block;
	width: 596px;
	min-height: 246px;
	padding-left: 24px;
	padding-top: 20px;
}

.slider-puncher{
	background-image: url("../img/slider-puncher.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider-drill{
	background-image: url("../img/slider-drill.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider-container h3{
	padding: 0;
	margin: 0;
	font-family: "Cuprum";
	font-weight: bold;
	font-size: 36px;
	text-transform: uppercase;
	/*margin-bottom: */
}

.slider-container span{
	font-family: "PT Sans";
	font-size: 18px;
	line-height: 24px;
}

.slider-container a{
	position: absolute;
	left: 25px;
	bottom: 22px;
	color: #ffffff;
	text-decoration: none;
}

.slider-control label{
	position: absolute;
	bottom: 36px;
	/*left: 50%;	*/
	width: 6px;
	height: 6px;
	background-color: #ffffff;
	border-radius: 50%;
	border: 2px solid #ffffff;
}

.slider-control .label-puncher{
	left: 295px;
	/*background-color: #ee3643;*/
}

.slider-control .label-drill{
	right: 295px;
}

.radio-puncher:checked ~ .slider-control .label-puncher{
	background-color: #ee3643;
}

.radio-drill:checked ~ .slider-control .label-drill{
	background-color: #ee3643;
}

/*
.radio-puncher:checked ~ .slider-container .slider{
	transform: translateX(0);
}

.radio-drill:checked ~ .slider-container .slider{
	transform: translateX(-620px);
}
*/

.slider-btn{
	width: 195px;
}

.slider-container:before,
.slider-container:after{
	content: "";
	width: 25px;
	height: 25px;
	position: absolute;
	cursor: pointer;
}

.slider-container:before{
	left: 30px;
	/*top: 50%;*/
	top: 120px;
	border-top: 3px solid #ffffff;
	border-left: 3px solid #ffffff;
	transform: rotate(-45deg);
}

.slider-container:after{
	right: 25px;
	/*top: 50%;*/
	top: 120px;
	border-top: 3px solid #ffffff;
	border-right: 3px solid #ffffff;
	transform: rotate(45deg);
}

.features-services{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.btn{
	height: 38px;
	font-family: "Cuprum";
	font-size: 14px;
	line-height: 38px;
	text-transform: uppercase;
	text-align: center;
	background-color: #ee3643;
	border-radius: 5px;
}

.btn:hover{
	background-color: #ca2c37;
}

.btn:active{
	background-color: #ba2732;
}

.title-block{
	display: flex;
	justify-content: space-between;
	padding: 25px;
	padding-left: 30px;
	margin-bottom: 20px;
	background-color: #f9f5f0;
}

.title{
	font-family: "Cuprum";
	font-size: 30px;
	text-transform: uppercase;
	color: #32425c;
}

.title-block a{
	color: #ffffff;
	text-decoration: none;	
}

.title-block-btn{
	width: 253px;
}

.popular-goods-list{
	display: flex;
	justify-content: space-between;	
	/*margin-bottom: 32px;*/
	flex-wrap: wrap;
}

.catalog .popular-goods-list{
	justify-content: flex-start;
}

.popular-goods-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 0;
	width: 216px;
	min-height: 318px;
	border: 2px solid #eaeaea;
	margin-bottom: 20px;
	/*margin-right: 20px;	*/
}

.catalog .popular-goods-item{
	margin-right: 20px;	
}

.popular-goods-item:nth-child(3n){
	margin-right: 0;
}


.popular-goods-item:hover{
	box-shadow: 0 5px 25px 0px #293449;
}

.popular-goods-item:hover .goods-hidden{
	display: flex;
}

.popular-goods-item:hover img{
	display: none;
}

.popular-goods-img{
	margin: 0;
	min-height: 140px;
	/*margin-bottom: 40px;*/
	margin-bottom: 32px;
}

.popular-goods-item h3{
	padding: 0;
	margin: 0;
	/*margin-bottom: 11px;*/
	text-align: center;
}

.popular-goods-item p{
	margin: 0;
	/*margin-bottom: 12px;*/
	margin-top: 10px;
	font-family: "PT Sans";
	font-size: 17px;
	font-weight: bold;
	line-height: 18px;
	text-decoration: line-through;
	text-transform: uppercase;
	color: #a9a9a9;
}

.goods-btn{
	display: block;
	margin: auto;
	margin-bottom: 20px;
	/*height: 38px;*/
	width: 141px;
	font-family: "PT Sans";
	font-size: 17px;
	font-weight: bold;
	line-height: 38px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	background-image: url("../img/btn-price.svg");
}

.goods-hidden{
	/*display: flex;*/
	display: none;
	/*position: absolute;*/
	top: 0;
	/*width: 100%;*/
	height: 100px;
	z-index: 20;
	flex-direction: column;
	padding-top: 45px;
	/*background-color: #ffffff;*/
}

.goods-hidden-buy{
	display:  block;
	position: relative;
	width: 135px;
	margin-bottom: 7px;
	font-family: "Cuprum";
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	line-height: 35px;
	color: #ffffff;
	background-color: #63a63e;
	border-radius: 5px;
	border-bottom: 3px solid #367315;
}

.goods-hidden-buy:before{
	position: absolute;
	top: 13px;
	left: 18px;
	content: "";
	width: 15px;
	height: 15px;
	background-image: url("../img/icon-basket.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
}

.goods-hidden-buy:hover{
	background-color: #5fbb2d;
}

.goods-hidden-buy:hover:before{
	opacity: 1;
}

.goods-hidden-buy:active{
	background-color: #518534;
}

.goods-hidden-basket{
	display: block;
	width: 129px;
	font-family: "Cuprum";
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	line-height: 35px;
	color: #32425c;
	border: 3px solid #63a63e;
	border-radius: 5px;
}

.goods-hidden-basket:hover{
	border-color: #32425c;
}

.goods-hidden-basket:active{
	opacity: 0.3;
}

.popular-brands{
	margin-bottom: 63px;
}

.popular-brands-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.popular-brands-item a{
	display: block;
	margin-bottom: 20px;
	width: 218px;
	height: 143px;
	border: 1px solid #ebebeb;
	/*text-align: center;*/
}

.popular-brands-item a:hover{
	box-shadow: 0 5px 25px 0px #293449;
}

.popular-brands-item a:active{
	box-shadow: 0 2px 10px 0px #293449;
}

.brand-wrapper{
	display: flex;
	width: 100%;
	height: 100%;
}

.brand-wrapper img{
	margin: auto;
}

.services-section{
	padding-top: 63px;
	padding-bottom: 54px;
	margin-bottom: 82px;
	background-color: #f4f8f9;
}

.services h2{
	margin-bottom: 24px;
	font-family: "Cuprum";
	font-size: 30px;
	text-transform: uppercase;
	color: #000000;
}

.services p{
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.slider-services-wrapper{
	display: flex;
	justify-content: space-between;
	margin-top: 18px;
	min-height: 272px;
}

.slider-services-control{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	position: relative;
	padding-top: 50px;
	width: 240px;
	min-height: 222px;
	/*border: 1px solid red;*/
}

.slider-services-control:after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 272px;
	background-image: url("../img/bg-service-border.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}



.slider-services-control label{
	display: block;
	height: 45px;
	padding-top: 15px;
	background-color: #32425c;
	font-family: "Cuprum";
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
	padding-left: 22px;
}

.slider-services-control label:hover{
	background-color: #293449;
}

.radio-delivery:checked ~ .slider-services-control .label-delivery{
	color: #32425c;
	background-color: #ffffff;
}

.radio-guarantee:checked ~ .slider-services-control .label-guarantee{
	color: #32425c;
	background-color: #ffffff;
}

.radio-credit:checked ~ .slider-services-control .label-credit{
	color: #32425c;
	background-color: #ffffff;
}

.slider-services-container{
	padding-top: 40px;
	width: 620px;
	height: 235px;
	overflow: hidden;
	/*border: 1px solid red;*/
}

.slider-services{
	top: 0;
	left: 0;
	width: 1860px;
	min-height: 235px;
	transform: translateX(0);
}

.slider-services-item{
	float: left;
}

.slider-services-item h3{
	margin-bottom: 23px;
	margin-top: 6px;
	font-family: "Cuprum";
	font-size: 36px;
	text-transform: uppercase;
	color: #32425c;
}

.slider-services-item p{
	width: 380px;
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.slider-delivey{
	width: 620px;
	height: 285px;
	background-image: url("../img/bg-service-delivery.png");
	background-repeat: no-repeat;
	background-position: 100% 34px;
}

.slider-guarantee{
	width: 620px;
	height: 285px;
	background-image: url("../img/bg-service-guarantee.png");
	background-repeat: no-repeat;
	background-position: 239px 12px;
}

.slider-credit{
	position: relative;
	width: 620px;
	height: 285px;
	background-image: url("../img/bg-service-credit.png");
	background-repeat: no-repeat;
	background-position: 165px 10px;
}

.slider-credit a{
	position: absolute;
	bottom: 102px;
	left: 0;*
	display: block;
	width: 195px;
	text-decoration: none;
	color: #ffffff;
}

.information{
	display: flex;
	justify-content: space-between;
	margin-bottom: 86px;
}

.information h2{
	color: #000000;
	margin-bottom: 24px;
}

.information p{
	margin-bottom: 24px;
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 24px;
}

.information-block{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}



.information-block a{
	display: block;
	margin-top: auto;
	color: #ffffff;
	text-decoration: none;
}

.information-about{
	width: 540px;
}

.information-about ul{
	padding: 0;
	margin: 0;
	margin-top: -3px;
	margin-left: 36px;
	list-style: none;
}

.information-about li{
	position: relative;
	margin-bottom: 20px;
	font-family: "Cuprum";
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.information-about li:before{
	position: absolute;
	content: "";
	width: 25px;
	height: 2px;
	top: 9px;
    left: -36px;
	background-color: #ee3643;
}

.information-map{
	padding-top: 7px;
    margin-bottom: 36px;
}

.btn-about{
	width: 220px;
}

.information-contacts{
	width: 300px;
}

.btn-contact{
	width: 300px;
}

footer{
	background-color: #32425c;
	margin-top: 
}
.logo-footer{
	display: inline-block;
	width: 220px;
}

.logo-footer a{
	display: block;
	/*padding-left: 55px;*/
	font-family: "Cuprum";
	font-size: 30px;
	text-decoration: none;
	color: #ffffff;
	line-height: 63px;
	text-transform: uppercase;
	text-align: center;
}

.footer-top{
	display: flex;
	justify-content: space-between;
	min-height: 63px;
	margin-bottom: 32px;
}

.menu-footer-list{
	display: flex;
	padding: 0;
	margin: 0;
	margin-top: 38px;
	list-style: none;
}

.menu-footer-list a{
	margin-left: 58px;
	font-family: "Cuprum";
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #ffffff;
}

.menu-footer-list a:hover{
	text-decoration: underline;
}

.menu-footer-list a:active{
	text-decoration: none;
	opacity: 0.5;
}

.footer-middle{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	font-family: "Cuprum";
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.footer-middle-block{
	margin-left: 3px;
}

.menu-catalog-list{
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.menu-catalog-list a{
	font-family: "Cuprum";
	font-size: 18px;
	line-height: 24px;
	color: #ffda96;
	text-decoration: none;
	margin-left: 58px;
}

.menu-catalog-list a:hover{
	text-decoration: underline;
}

.menu-catalog-list a:active{
	text-decoration: none;
	opacity: 0.5;
}

.footer-bottom{
	padding-bottom: 34px;
	background-color: #293449;
}

.footer-wrapper{
	display: flex;
	padding-top: 37px;
	font-family: "Cuprum";
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.social-list{
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	list-style: none;
}

.footer-bottom a{
	font-family: "Cuprum";
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	color: #ffd180;
}

.footer-bottom a:hover{
	text-decoration: underline;
}

.footer-bottom a:active{
	text-decoration: none;
	color: #ee3643;
}

.copyright{
	width: 230px;
}

.social-block{
	margin-left: 160px;
}

.social{
	display: block;
	margin-right: 5px;
	margin-top: -2px;
	width: 40px;
	height: 40px;
	background-color: #212a3a;
	border-radius: 50%;
}

.social:hover,
.social:active{
	background-color: #ee3643;
}

.social-vk{
	background-image: url("../img/vk-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.social-fb{
	background-image: url("../img/fb-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.social-ig{
	background-image: url("../img/insta-icon.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.feedback{
	margin-right: 0;
	margin-left: auto;
	width: 140px;
}

.developer{
	margin-right: 0;
	margin-left: 20px;
	padding-left: 30px;
	width: 110px;
}

.breadcrumbs-block{
	display: block;
	margin-bottom: 20px;
}

.breadcrumbs-list{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.breadcrumbs-list li{
	display: block;
	margin-right: 40px;
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.breadcrumbs-list a{
	position: relative;
	display: block;
	text-decoration: none;
	color: #000000;
}

.breadcrumbs-list a:after{
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	top: 3px;
	right: -20px;
	border-top: 1px solid #c5c9d1;
	border-right: 1px solid #c5c9d1;
	transform: rotate(45deg);
}

/*.breadcrumbs-main{
	display: block;
	width: 15px;
	height: 12px;
	background-image: url("../img/icon-home.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}*/

.breadcrumbs-main a{
	display: block;
	width: 15px;
	height: 12px;
	background-image: url("../img/icon-home.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.title-block-catalog{
	min-height: 89px;
	padding-left: 30px;
	margin-bottom: 20px;
	background-color: #f2f6f8;
}

.title-block-catalog h1{
	font-family: "Cuprum"
	font-size: 30px;
	line-height: 89px;	
}

.main-content{
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.filter{
	width: 220px;
}

.filter-title{
	height: 38px;
	padding-left: 18px;
	margin-bottom: 14px;
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 38px;
	text-transform: uppercase;
	background-color: #f7f3ec;
}

fieldset{
	border: none;
}

.form-filter h3{
	margin-bottom: 19px;
	font-family: "PT Sans";
	font-size: 17px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.price-block{
	margin-bottom: 18px;
    padding-bottom: 25px;
	border-bottom: 2px solid #e5e5e5;
}

.filter-price{
	position: relative;
	min-height: 80px;
	margin-bottom: 9px;
	background-color: #f7f3ec;
}

/*.filter-price:before{
	position: absolute;
	content: "";
	left: 20px;
	top: 50%;
	width: 180px;
	height: 2px;
	background-color: #d7dcde;
}

.filter-price:after{
	position: absolute;
	content: "";
	left: 20px;
	top: 50%;
	width: 140px;
	height: 2px;
	background-color: #00ca74;
}
*/

/*.slider-price{
	position: absolute;
	width: 20px;
	height: 23px;
	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}*/

.slider-price-min{
	position: absolute;
	top: 30px;
	left: 20px;
	width: 20px;
	height: 23px;
	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
}

.slider-price-max{
	position: absolute;
	top: 30px;
	right: 40px;
	width: 20px;
	height: 23px;
	background-image: url("../img/filter-button.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
}

.price-range{
	display: flex;
	justify-content: space-between;
}

.price-min,
.price-max{
	min-height: 38px;
	width: 95px;
	font-family: "PT Sans";
	font-size: 17px;
	line-height: 38px;
	text-transform: uppercase;
	color: #000000;
	background-color: #f7f3ec;
	border-radius: 3px;
	text-align: center;
}

.brands-block{
	padding-bottom: 2px;
    margin-bottom: 19px;
	border-bottom: 2px solid #e5e5e5;
}

.brands-block ul{
	padding: 0;
	padding-left: 35px;
	margin: 0;
	list-style: none;
	font-family: "PT Sans";
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
}

.brands-block li{
	margin-bottom: 20px;
}

.brands-block label{
	position: relative;
	cursor: pointer;

}

/*
.filter-checkbox + label:hover:before{
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}
*/


.filter-checkbox + label:before{
	position: absolute;
	content: "";
	top: -2px;
	left: -35px;
	width: 27px;
	height: 23px;

	

	background-image: url("../img/checkbox-off.png");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}

.filter-checkbox:checked + label:before{
	background-image: url("../img/checkbox-on.png");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}

.powersupply-block{
	/*border-bottom: 1px solid red;*/
	margin-bottom: 79px;
}

.powersupply-block ul{
	padding: 0;
	padding-left: 35px;
	margin: 0;
	margin-top: -2px;
	list-style: none;
	font-family: "PT Sans";
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000000;
}

.powersupply-block li{
	margin-bottom: 20px;
}

.powersupply-block label{
	position: relative;
	cursor: pointer;
}

.filter-radio + label:before{
	position: absolute;
	content: "";
	top: -3px;
	left: -35px;
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-off.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-radio:checked + label:before{
	position: absolute;
	content: "";
	top: -3px;
	left: -35px;
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-on.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.form-filter a{
	display: block;
	width: 136px;
	height: 36px;
	border: 2px solid #e5e5e5;
	border-radius: 3px;
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 36px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	text-align: center;
}


.sorting-wrapper{
	display: flex;
	flex-direction: column;
	width: 700px;
}

.sorting{
	display: flex;
	align-items: center;
	padding-left: 19px;
	padding-right: 17px;
	margin-bottom: 18px;
	min-height: 38px;
	background-color: #f7f3ec;
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
}

.type-sorting-list{
	display: flex;
	padding: 0;
	margin: 0;
	margin-left: auto;

	list-style: none;
}

.type-sorting-list a{
	/*display: block;*/
	margin-left: 66px;
	text-decoration: none;
	border-bottom: 1px dotted #ee3643;
	opacity: 0.3;
}

.type-sorting-list .active{
	color: #ee3643;
	opacity: 1;
	border: none;
}

.type-sorting-list a:hover{
	color: #000000;
	opacity: 1;
	border-bottom: 1px solid #ee3643;
}

.direction-sorting-list{
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	margin-right: 0;
	margin-left: 46px;

	list-style: none;
}

.direction-sorting-list a{
	display: block;
	position: relative;
	width: 11px;
	height: 10px;
	margin-left: 21px;
	background-color: #c5c5c5;
}

.direction-sorting-list .active{
	background-color: #ee3643;
}

.direction-sorting-list a:hover{
	background-color: #000000;
}

.sorting-up:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: -6px;
	width: 6px;
	height: 13px;
	background-color: #f7f3ec;
	/*border: 1px solid red;*/
	transform: rotate(30deg);
	transform-origin: 6px 13px;
}

.sorting-up:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 11px;
	width: 6px;
	height: 13px;
	background-color: #f7f3ec;
	/*border: 1px solid red;*/
	transform: rotate(-30deg);
	transform-origin: 0px 13px;
}

.sorting-down:before{
	content: "";
	position: absolute;
	top: 0;
	left: -6px;
	width: 6px;
	height: 13px;
	background-color: #f7f3ec;
	/*border: 1px solid red;*/
	transform: rotate(-30deg);
	transform-origin: 6px 0px;
}

.sorting-down:after{
	content: "";
	position: absolute;
	top: 0;
	left: 11px;
	width: 6px;
	height: 13px;
	background-color: #f7f3ec;
	/*border: 1px solid red;*/
	transform: rotate(30deg);
	transform-origin: 0px 0px;
}



/*.sorting{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
	min-height: 38px;
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 38px;
	text-transform: uppercase;
	background-color: #f7f3ec;
}

.sorting ul{
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.sorting a{
	display: block;
	position: relative;
}*/







.pagination-list{
	display: flex;
	justify-content: flex-start;
	padding: 0;
	margin: 0;
	list-style: none;
}

.pagination-list a{
	display: block;
	height: 36px;
	width: 36px;
	margin-right: 10px;
	border: 2px solid #e5e5e5;
	border-radius: 3px;
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 36px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
}

.next a{
	width: 136px;
}

.pagination-list a:hover{
	border-color: #bdc6ca;
}

.pagination-list a:active{
	border-color: #ee3643;
}

.pagination-item-current a{
	background-color: #ee3643;
	border-color: #ee3643;
	color: #ffffff;
}

.about-goods{
	background-color: #f2f6f8;
	padding-top: 63px;
	padding-bottom: 73px;
}

.about-goods h2{
	font-family: "Cuprum";
	font-size: 30px;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.about-goods p{
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

.new:after{
	content: "";
	position: absolute;
	top: -1px;
	right: -1px;
	width: 60px;
	height: 59px;
	/*color: #ffffff;
	background-color: #ee3643;*/
	background-image: url("../img/new.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.modal-writeus{
	position: fixed;
	top: 200px;
	left: 50%;
	margin-left: -310px;	
	/*width: 460px;*/
	width: 620px;
	min-height: 200px;
	
	background-color: #ffffff;

	/*border: 1px solid red;*/
	border-top: 7px solid #ff5257;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-writeus-close{
	position: absolute;
	top: 9px;
	right: 9px;
	width: 21px;
	height: 21px;
	font-size: 0;

	background-color: rgba(0, 0, 0, 0);
	border: 0;
}

.modal-writeus-close:before,
.modal-writeus-close:after{
	position: absolute;
	top: 10px;
	left: 2px;
	content: "";

	width: 19px;
	height: 3px;

	background-color: #ee3643;
}

.modal-writeus-close:before{
	transform: rotate(45deg);
}

.modal-writeus-close:after{
	transform: rotate(-45deg);
}

.writeus-form{
	padding-top: 45px;
}

.writeus-form label{
	font-family: "Cuprum";
	font-size: 18px;

}

.modal-contact{
	display: flex;
	justify-content: space-between;
	padding: 0 80px;
	margin-bottom: 20px;
}

.modal-contact p{
	width: 220px;
}

.modal-contact input{
	width: 202px;
	height: 34px;
	padding-left: 14px;
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 18px;
	border: 2px solid #dee3e4;
	border-radius: 2px;
}

.modal-contact input::-webkit-input-placeholder{
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 18px;
	color: #a9a9a9;
}

.modal-text{
	padding: 0 80px;
	margin-bottom: 37px;
}

.modal-text textarea{
	/*width: 442px;*/
	max-width: 442px;
	min-width: 442px;
	min-height: 110px;
	padding-left: 14px;
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 18px;
	border: 2px solid #dee3e4;
	border-radius: 2px;
	color: #a9a9a9;
}

.modal-btn-block{
	/*padding-top: 37px;
	padding-bottom: 37px;*/
	padding: 37px 80px;
	background-color: #f4f4f4;
}

.btn-writeus-submit{
	width: 100%;
	border: 0;
}

.modal-map{
	position: fixed;
	/*top: 450px;*/
	top: 50%;
	left: 50%;
	width: 940px;
	height: 446px;
	margin-left: -470px;
	margin-top: -223px;

	box-shadow: 0 0 26px 4px rgba(47, 42, 43, 0.5);

}

.modal-add{
	position: fixed;

	top: 200px;
	left: 50%;
	margin-left: -310px;	
	/*width: 460px;*/
	width: 620px;
	min-height: 200px;
	padding-top: 63px;
	background-color: #ffffff;

	/*border: 1px solid red;*/
	border-top: 7px solid #ff5257;

	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-add p{
	position: relative;
	font-family: "Cuprum";
	font-size: 30px;
	color: #000000;
	margin-left: 180px;
	margin-bottom: 68px;
}

.modal-add p:before{
	content: "";
	position: absolute;
	top: -15px;
	left: -98px;
	width: 66px;
	height: 66px;
	background-image: url("../img/icon-add-to-basket.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.modal-btn-block{
	display: flex;
	justify-content: space-between;
}

.btn-to-order{
	display: block;
	width: 220px;
	text-decoration: none;
	color: #ffffff;
}

.btn-add-close{
	display: block;
	width: 220px;
	height: 38px;
	font-family: "Cuprum";
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
	background-color: #ffffff;
	border-style: none;
	border-radius: 3px;
}