body{
	margin: 0;
	padding: 0;
}

header{
	background-color: #f3f7f9;
	background-image: url("../img/bg-header.jpg");
}

.container{
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.header-top{
	padding: 0;
	margin-bottom: 46px;
	min-height: 42px;
	background-color: #293449;
	line-height: 42px;
}

.header-top .container{
	display: flex;
}

.header-top a{
	text-decoration: none;
	color: #ffffff;
	font-family: "Cuprum";
	font-size: 17px;
	*//*line-height: 17px;*/
}

.logo a:hover{
	background-color: #ca2c37;
}

.logo a:active{
	background-color: #ba2732;
}

.logo{
	background-color: #ee3643;
}

.logo-header{
	display: inline-block;
	width: 220px;
}

.logo-header a{
	display: block;
	padding-left: 55px;
	font-family: "Cuprum";
	font-size: 24px;	
	text-transform: uppercase;
}

.form-search{
	width: 270px;
	/*padding-left: 50px;*/
}

.form-search input[type="text"]{
	position: relative;
	border: none;
	box-sizing: border-box;
	line-height: 42px;
	width: 100%;
	padding-left: 49px;
	background-color: #293449;
	font-family: "Cuprum";
	color: #ffffff;
	font-size: 17px;
}

.form-search input[type="text"]:hover{
	background-color: #212a3a;
}


.form-search input[type="text"]:focus{
	background-color: #ffffff;
	color: #000000;
}

.form-search input::-webkit-input-placeholder {
	/*padding-left: 49px;*/
	font-family: "Cuprum";
	color: #ffffff;
	font-size: 17px;
	line-height: 18px;
}

.bookmarks{
	display: inline-block;	
	width: 150px;
}

.bookmarks a{
	display: block;
	position: relative;
	padding-left: 44px;
}

.bookmarks a:before{
	position: absolute;
	top: 12px;
	left: 17px;
	content: "";
	width: 14px;
	height: 16px;
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
}
.bookmarks a:hover{
	background-color: #212a3a;
}

.bookmarks a:hover:before{
	opacity: 1;
}

.bookmarks a:active{
	background-color: #161d29;
}

.bookmarks a:active:before{
	opacity: 0.5;
}

.basket{
	display: inline-block;
	width: 150px;
}

.basket a{
	display: block;
	position: relative;
	padding-left: 50px;
}

.basket a:before{
	position: absolute;
	top: 13px;
	left: 18px;
	content: "";
	width: 15px;
	height: 15px;
	background-image: url("../img/icon-basket.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
}

.basket a:hover{
	background-color: #212a3a;
}

.basket a:hover:before{
	opacity: 1;
}

.basket a:active{
	background-color: #161d29;
}

.basket a:active:before{
	opacity: 0.5;
}

.order{
	display: inline-block;
	width: 150px;
	background-color: #63a63e;
}

.order a{
	display: block;
	padding-left: 20px;
}

.order a:hover{
	background-color: #5fbb2d;
}

.order a:active{
	background-color: #518534;
}


.header-middle{
	display: flex;
	justify-content: space-around;
}

.header-middle-block{
	width: 300px;
	min-height: 45px;
	border: 1px solid red;
}

.contact{
	font-family: "Cuprum";
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.contact span{
	margin-left: 10px;
}

.header-phone{
	width: 150px;
	margin-bottom: 8px;
	padding-left: 70px;
	padding-right: 50px;
	border: 3px solid #ffffff;
	/*font-family: "Cuprum";*/
	font-size: 21px;
	line-height: 39px;
	color: #ee3643;
}